:root{
	--startline: 15em;
	--img-max-height: 15em;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	margin-bottom: 2em;
}
.errors *{
	color: red ;
}

/* ***************************************** */
/* index************************************* */
#index .img-moz {
	position: absolute;
	bottom: 0;
	width: 100vw;
}
#index .img-box {
	flex: 12.5%;
	height: 12.5vw;
	background-size: cover;
	padding: 0;
}
#index .img-box a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
@media (max-width: 960px) {
	#index .img-moz {
		position: relative;
	}	
	#index .img-box {
		flex: 25%;
		height: 25vw;
	}
}
@media (max-width: 560px) {
	#index .img-moz {
		position: relative;
	}
	#index .img-box {
		flex: 100%;
		height: 100vw;
	}
}
/* ***************************************** */
/* dash************************************* */
.image-upload-album-create-outter-box{
	display: flex;
	flex-direction: column;
	justify-content: start;      
	padding-top: var(--startline);
}
.image-upload-album-create-inner-box{
	flex-direction: column;
}
.image-upload-album-create-inner-box img{
	display: block;
	width: 2em !important;
	margin-bottom: 1em;
	margin: 0 auto 1em;
	transition: scale .05s ease-out;
}
.image-upload-album-create-inner-box img:hover{
	opacity: .7;
	scale: 1.2;
}

#dash .album-view-box, 
#album .album-view-box{
	padding-top: calc(var(--startline) - 2em);
}
#dash .album-view-group, 
#album .album-view-group{
	margin: 0 0 5em 0;
}
#dash .album-view img, 
#album .album-view img{
	max-height: var(--img-max-height);
	margin: 0 2em 2em 0;
	transition: scale .05s ease-out;
}
#dash .album-view img:hover, 
#album .album-view img:hover{
	opacity: .8;
	scale: 1.04;
}

/* **************************************************** */
/* image_display_all ********************************** */
.image-upload-album-create-outter-box{
	position: relative;
}
.image-upload-album-create-outter-box .image-upload-album-create-inner-box{
	position: fixed;
}
.image-display-box{
	display: flex;
	flex-wrap: wrap;
}
.img-group{
	display: inline-block;
	
}
.img-group img{
	width: 100%;
	transition: all ease 100ms;
}
.img-group img:hover{
	transform: scale(1.02);
	opacity: .95;
}

/* **************************************************** */
/* image_view ********************************** */
#image-view img{
	max-width: 100%;
	max-height: 95vh;
}
.control-buttons img{
	width: 30px;
}
#info, #back_btn{
	cursor: pointer;
}
#info-box{
	/* display: none; */
	box-sizing:border-box;
	position: fixed;
	top: 0;
	right: 0;
	overflow: auto;
	height: 100vh;
	width: 0;
	padding: 0;
	border: 1px solid black;
	transition: all ease 300ms;
}