<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/bootstrap.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
		<title>{{title}}</title>
	</head>
	<body id="">
		<!-- display nav component -->
		{{nav | safe}}
		
		<div class="errors">
			{% with messages = get_flashed_messages() %}<!-- declare a variable called messages -->
                {% if messages %}<!-- check if there are any messages -->
                    {% for message in messages %}<!-- loop through the messages -->
                    <p>{{message}}</p>
                    <!-- display each message in a paragraph tag -->
                    {% endfor %} 
                {% endif %} 
            {% endwith %}
		</div>

		<div class="container-fluid">
            <div class="d-flex justify-content-between col-9">
                <div class="col-4">
                    <form action="/new_event_form" method="post">
                        <div class="form-group">
                            <label for="name">Event Name: </label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="location">Location: </label>
                            <input type="text" name="location" class="form-control">
                        </div>
                        <div class="form-group time">
                            <label for="time">Date & Time: </label>
                            <input type="datetime-local" name="time" class="form-control">
                            <small id="helpId" class="form-text text-muted">Date ( MM/DD/YYYY ) and Time ( HH:MM:AM/PM )</small>
                        </div>
                        <input type="submit" value="Add Event" class="btn btn-success">
                    </form>
                </div>
            </div>
			
		</div>

		<script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.js') }}"></script>
		<script src="{{ url_for('static', filename='js/index.js') }}"></script>
	</body>
</html>