<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/bootstrap.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
		<title>{{title}}</title>
	</head>
	<body id="">
		<!-- display nav component -->
		{{nav | safe}}

		<div class="errors">
			{% with messages = get_flashed_messages() %}<!-- declare a variable called messages -->
			{% if messages %}<!-- check if there are any messages -->
			{% for message in messages %}<!-- loop through the messages -->
			<p>{{message}}</p>
			<!-- display each message in a paragraph tag -->
			{% endfor %} {% endif %} {% endwith %}
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-lg-6">
					<!-- details -->
					<div class="d-flex align-items-center justify-content-between">
						<h1 class="d-inline-block m-0">{{event.name}}</h1>
						<div class="btn-group" role="group" aria-label="Basic example">
							<!-- edit and delete event buttons -->
							{% if session['user_id'] == event.user_id %}
							<a href="/event_edit/{{event.id}}" class="btn btn-secondary btn-sm">Edit</a>
							<a href="/event_delete/{{event.id}}" class="btn btn-danger btn-sm">Delete</a>
							{% endif %}
							<!-- attend/unattend button -->
							{% if attendees and 'user_id' in session %} {% set attendees_ids = [] %} {% for user in attendees %}
							<!-- {{attendees_ids.append(user.id)}} -->
							{% endfor %} {% if session['user_id'] in attendees_ids %}
							<a href="/event_delete_attendee/{{event.id}}" class="btn btn-warning btn-sm ms-auto">Unattend</a>
							{% else %}
							<a href="/event_add_attendee/{{event.id}}" class="btn btn-success btn-sm ms-auto">Attend</a>
							{% endif %} {% endif %}
						</div>
					</div>
					<h6 class="mb-5">{{event.user.first_name}} {{event.user.last_name}}</h6>
					<div>
						Date: {{event.time.strftime('%m/%d/%Y')}} <br />
						Time: {{event.time.strftime('%I:%M:%p')}}
					</div>
					<hr />
					<div>
						Info: <br />
						{{event.information}} <br />
						Location: {{event.location}} <br />
						Attendees: {{event.attendee_count}}/{{event.attendee_limit}}
					</div>
					<hr />
					<div>
						<div class="d-flex">Attendees</div>
						<div>
							{% if attendees[0].first_name is not none %} {% for user in attendees %}
							<p>{{user.first_name}} {{user.last_name}}</p>
							{% endfor %} {% else %}
							<p>None yet</p>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<!-- map -->
					<div style="width: 100%">
						<iframe
							scrolling="no"
							marginheight="0"
							marginwidth="0"
							src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q={{location}}+(iSport)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
							width="100%"
							height="600"
							frameborder="0"
							><a href="https://www.maps.ie/distance-area-calculator.html">measure distance on map</a></iframe
						>
					</div>
				</div>
			</div>
			<div class="row">
				<div id="message-board" class="col-12 col-lg-6">
					Messages: <br />
					{% if messages %}
					<ul>
						{% for m in messages %}
						<li>
							<div class="d-flex justify-content-between">
								<p>{{m.user.first_name}} {{m.user.last_name}}:</p>
								<p>
									<!-- if current user is message owner show delete option -->
									{% if session['user_id'] == m.user.id %}
									<a class="text-danger" href="/message_delete/{{m.id}}/{{event.id}}">Delete</a>
									{% endif %}
									<!-- message date -->
									{{m.created_at.strftime('%m/%d/%Y')}}
								</p>
							</div>
							<p class="ps-3">{{m.message}}</p>
						</li>
						{% endfor %}
					</ul>
					{% else %}
					<p>No messages</p>
					{% endif %}
				</div>
				<div id="messag-form" class="col-12 col-lg-6">
					<form class="col-12" action="/message_create_form" method="post">
						<div class="mb-3">
							<label for="message" class="form-label">New message:</label>
							<textarea class="form-control" name="message" rows="3"></textarea>
						</div>
						<input type="text" class="form-control" name="event_id" value="{{event.id}}" readonly hidden />
						<button type="submit" class="btn btn-primary">Send</button>
					</form>
				</div>
			</div>
		</div>

		<script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.js') }}"></script>
		<script src="{{ url_for('static', filename='js/index.js') }}"></script>
	</body>
</html>
